<!-- <div class="bg-transparent mt-5 border-solid border-2 border-white shadow-xl max-w-3xl mx-auto rounded-xl flex md:flex-row flex-col items-center justify-start">
  <figure class="">
    <img
      class="w-48 object-cover md:h-auto md:w-48 rounded-lg"
      src="/src/pictures/profile-picture.png"
      alt="Stephen Guo"
    />
  </figure>
  <div class="flex flex-col justify-between p-4 leading-normal bg-base-100">
    <h1 class="text-xl">Stephen Guo</h1>
    <p>
      UTSC 2019 - 2024 <small class="text-gray-100">(expected)</small>
    </p>
    <p>Computer Science - Software Engineering stream</p>
    <p>3.65 cGPA</p>
  </div>
</div> -->
---
const viewboxWidthAndHeight = 50;
const circleWidth = 22;
const shadowLength = 0.5;
---
<div
  class="bg-transparent p-5 max-w-3xl mx-auto rounded-xl flex flex-col sm:flex-row"
>
  <svg
    viewBox={`0 0 ${viewboxWidthAndHeight} ${viewboxWidthAndHeight}`}
    width="100%"
    class="max-sm:rounded-t-xl sm:rounded-l-xl"
  >
    <defs>
      <pattern id="profile-photo" width="1" height="1">
        <image
          href="/src/pictures/profile-pic-tree-purple-hat-cropped-square.png"
          x="0"
          y="0"
          width={circleWidth * 2}
          height={circleWidth * 2}
        />
      </pattern>
      <mask id="mask" x="0" y="0" width={viewboxWidthAndHeight} height={viewboxWidthAndHeight}>
        <rect x="0" y="0" width={viewboxWidthAndHeight} height={viewboxWidthAndHeight} fill="#fff"></rect>
        <circle cx={viewboxWidthAndHeight/2} cy={viewboxWidthAndHeight/2} r={circleWidth}></circle>
      </mask>
    </defs>
    <circle cx={viewboxWidthAndHeight/2} cy={viewboxWidthAndHeight/2} r={circleWidth} fill="#000" fill-opacity="0.6"></circle>
    <circle
      cx={viewboxWidthAndHeight/2}
      cy={viewboxWidthAndHeight/2}
      r={circleWidth}
      fill="url(#profile-photo)"
      style=`-webkit-filter: drop-shadow(${shadowLength}px ${shadowLength}px 0 white)
        drop-shadow(-${shadowLength}px ${shadowLength}px 0 white)
        drop-shadow(${shadowLength}px -${shadowLength}px 0 white)
        drop-shadow(-${shadowLength}px -${shadowLength}px 0 white);
        filter: drop-shadow(${shadowLength}px ${shadowLength}px 0 white)
        drop-shadow(-${shadowLength}px ${shadowLength}px 0 white)
        drop-shadow(${shadowLength}px -${shadowLength}px 0 white)
        drop-shadow(-${shadowLength}px -${shadowLength}px 0 white);`
    ></circle>
    <rect x="0" y="0" width={viewboxWidthAndHeight} height={viewboxWidthAndHeight} mask="url(#mask)" fill="#fff"
    ></rect>
  </svg>
  <div class="bg-white max-sm:rounded-b-xl sm:rounded-r-xl">
    <h1 class="text-2xl text-black">Stephen Guo</h1>
    <p class="text-black">
      UTSC 2019 - 2024 <small class="text-gray-800">(expected)</small>
    </p>
    <p class="text-black">Computer Science - Software Engineering stream</p>
    <p class="text-black">3.55 cGPA</p>
  </div>
</div>
